<p class="mt-5">Add Product</p>
<hr />

<form [formGroup]="myForm">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label class="col-form-label"> Name: </label>
    </div>
    <div class="col-auto">
      <input 
      type="text" 
      class="form-control" 
      placeholder="name"
      formControlName="name"
       />
    </div>
    <div class="col-auto">
      <span 
      error-msg
      [color]="color" 
      [message]="text1"
      [valid]="isError('name')"
      ></span>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <button class="btn btn-primary" (click)="changeName()">Save</button>
      <button class="btn btn-primary m-5" (click)="changeColor()">change Color</button>
    </div>
  </div>
</form>


<h3 class="mt-5" error-msg>
    Form
</h3>
<pre>
    Valid: {{ myForm.valid }}
</pre>
<pre>
    Value: {{ myForm.value | json }}
</pre>
{{text1}}


<div class="row mt-5" *customIf="myForm.valid">
    <div class="col">
        <div class="alert alert-primary">
            Todo OK
        </div>
    </div>
</div>